@font-face {
    font-family: "TeleNeo";
    src: url(./fonts/TeleNeoWeb-Regular.eot) format("eot"), url(./fonts/TeleNeoWeb-Regular.woff) format("woff"),
        url(./fonts/TeleNeoWeb-Regular.woff2) format("woff2");
}
@font-face {
    font-family: "TeleNeo";
    src: url(./fonts/TeleNeoWeb-Bold.eot) format("eot"), url(./fonts/TeleNeoWeb-Bold.woff) format("woff"),
        url(./fonts/TeleNeoWeb-Bold.woff2) format("woff2");
    font-weight: bold;
}
// Override default variables before the import
$body-bg: #cfcfcf;
$font-family-base: TeleNeo;
$primary: #00739f;
$primary-dark: #002f67;
$info: #ffd617;
$dark: #404040;
$gray-100: #f2f5f9;
$body-color: $dark;
$light: #ebebeb;

$grid-breakpoints: (
    xs: 0,
    sm: 600px,
    md: 800px,
    lg: 1000px,
    xl: 1400px,
    xxl: 1650px,
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1300px,
    xxl: 1585px,
);

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

#root {
    height: 100%;
    display: flex;
    flex-flow: column;
}

.header-title {
    color: $light;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
}

.demo-logo {
    margin: 2rem;
    width: 3rem;
    height: 3rem;
}

#header {
    display: flex;
    background-color: $primary;
    padding-left: 0rem;
    padding-right: 1rem;

    @include media-breakpoint-up(md) {
        padding-right: 7rem;
    }
}

#header-right {
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;

    @include media-breakpoint-up(md) {
        margin-top: 0rem;
        margin-bottom: 0rem;
        justify-content: flex-end;
    }
}

#user {
    background-image: url("../images/login_icon.png") !important;
    width: 2.375rem;
    height: 2.375rem;
    margin-right: 2rem;
}

#menu {
    background-image: url("../images/burgermenu.png") !important;
    width: 1.625rem;
    height: 1.625rem;
}

.header-text {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 26px;
    color: white;
}

.content-container {
    background-color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    display: flex;
    height: 100%;
    flex-direction: column;

    @include media-breakpoint-up(md) {
        padding-left: 7rem;
        padding-right: 7rem;
        padding-bottom: 7rem;
    }
}

.routing-content {
    padding: 0 0 3rem 0;
    flex: 1 1 auto !important;
    display: flex;
    flex-direction: column;
}

.check-in-container {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    margin: 0%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    justify-content: space-between;
}

.card-group {
    justify-content: space-between;
}
.col-item {
    background-color: #ccc;
    margin: auto;
    border: #707070 solid 1px;
    max-width: 300px;
    height: 301px;
}

.booking-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url("../images/header_airline.png") !important;
    background-repeat: no-repeat;
    height: 556px;
}

.jcc-xs-jcfs-md {
    display: flex;
    justify-content: center;

    @include media-breakpoint-up(md) {
        justify-content: flex-start;
    }
}

.search {
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0px;
    width: 100%;
    color: #262626;

    @include media-breakpoint-up(md) {
        padding-left: 7rem;
        padding-right: 7rem;
    }
}

.search-header {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 100%;
    border-bottom: 2px solid #d0d0d1;
    align-items: center;
}

.search-header-element {
    font-size: 20px !important;
    font-weight: bold;
    height: 3.5rem;
    display: flex;
    align-items: center;
    padding: 0rem 1.5rem;
}

.search-header-element:first-child {
    border-bottom: 3px solid black;
}

.icon {
    width: 1.5rem;
    height: 3.5rem;
    object-fit: none;
    margin-right: 0.5rem;
}

.search-content {
    background-color: rgba(245, 245, 245, 0.9) !important;
    width: 100%;
    height: 9rem;
    font-size: 20px !important;
}

.from {
    font-size: 18px !important;
    color: #7e7e7e;
}

.input-transparent {
    font-size: 22px !important;
    box-sizing: border-box;
    height: 36px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #7e7e7e;
    border-radius: 0%;
    color: black;
    background-color: transparent;
    padding: 0%;

    &:focus {
        border-color: none;
        box-shadow: none;
        background-color: transparent;
        color: black;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid #7e7e7e;
    }
}

.input-checkin {
    font-size: 24px !important;
    font-weight: bold;
    box-sizing: border-box;
    height: 36px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #7e7e7e;
    border-radius: 0%;
    color: black;
    background-color: transparent;
    padding: 0%;

    &:focus {
        font-size: 24px !important;
        font-weight: bold;
        border-color: none;
        box-shadow: none;
        background-color: transparent;
        color: black;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #7e7e7e;
    }
}
.checkin-modal{
    border-radius: 0px;
}

.input-checkin-modal {
    margin-bottom: 1rem;

    &:first-of-type {
        margin-top: 2rem;
    }

    &:last-child {
        margin-top: 1rem;
    }
}

.input-date-modal {
    width: 100%;
}

.location-icon {
    background-image: url("../images/icon_von.png") !important;
    height: 20px;
    width: 20px;
}

.plus-icon {
    background-image: url("../images/icon_plus.png") !important;
    height: 24px;
    width: 24px;
}

.change-icon {
    background-image: url("../images/icon_wechseln.png") !important;
    height: 34px;
    width: 34px;
    margin: auto;
}

.next-button {
    background: #ffd617;
    color: #262626;
    border: none;
    font-weight: bold;
    margin-top: 1rem;
    &:focus,
    &:hover,
    &:visited,
    &:active {
        background: #ffd617;
        color: #262626;
        border: none;
        font-weight: bold;
    }

    @include media-breakpoint-up(sm) {
        margin-top: 0rem;
    }
}

.upload-button {
    background: transparent;
    color: #262626;
    border: 1px solid #262626;
    font-weight: bold;
    &:focus,
    &:hover,
    &:visited,
    &:active {
        background: transparent;
        color: #262626;
        border: 1px solid #262626;
        font-weight: bold;
    }
}

.modal-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: $primary;
    font-weight: bold;
    font-size: 16px;
    color: white;
    height: 40px;
    margin: 0%;
    padding: 0%;
    border-radius: 0px;

    img {
        margin-left: 15px;
        margin-right: 9px;
        height: 24px;
        width: 24px;
    }
}

.modal-footer {
    display: flex;
    justify-content: flex-start;
}

.bold {
    font-weight: bold;
}

.flight-information {
    padding: 0.75rem 1.5rem;
    display: flex;
    border: 1px solid #262626;
    flex-direction: column;
}
.dcc-information {
    display: flex;
    border: 1px solid #262626;

    .logo {
        background-image: url("../images/eu_logo_big.png") !important;
        background-repeat: no-repeat;
        width: 54px;
        height: 36px;
        margin: 0.5rem;
    }
}
.error-information {
    display: flex;
    border: 1px solid red;
    flex-direction: column;
}
.warning-information {
    display: flex;
    border: 1px solid orange;
    flex-direction: column;
}

.wrapper-flight-information {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.text-vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.text-vertical-left {
    display: flex;
    align-items: center;
}

.text-right{
    text-align: right;
}

.no-grow {
    flex: 0 1 0 !important;
}

.shrink-grow {
    flex: 1 1 0 !important;
}

.buttons-line {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    padding: 0% 0%;
}

.buttons-line-button {
    color: white;
    background-color: #004494;

    &:disabled {
        color: black;
        background-color: #ffd617;
        border-color: transparent;
    }
}

#qr-code-container {
    background-color: $body-bg;
}

.head-line {
    height: 5rem;
    display: flex;
    align-items: center;
}

td,
th {
    padding: 0.75rem !important;
}

.tbl-auto {
    // width: 16.66%;
    width: auto;
}

.tbl-1 {
    // width: 16.66%;
    width: calc(100% * (1 / 12));
}

.tbl-2 {
    // width: 16.66%;
    width: calc(100% * (2 / 12));
}

.tbl-3 {
    // width: 16.66%;
    width: calc(100% * (3 / 12));
}

.tbl-4 {
    // width: 16.66%;
    width: calc(100% * (4 / 12));
}

.tbl-5 {
    // width: 41.66%;
    width: calc(100% * (5 / 12));
}

.tbl-result {
    min-width: 800px;
}
#qr-code-container {
    background-color: white;
    padding: 12px;
    position: relative;
    display: inline-flex;
}